:root {
    --mainColor: #000;
    --fontColor:#fff;
}

* {
    background-color: var(--mainColor);
    color: var(--fontColor);
}

header {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
}

header a:hover {
    color: rgb(20, 255, 235);
}


.load-container {
    height: 500px;
    width: 60%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

/*This is for the timer button*/
.start-timer {
    height: 50px;
    width: 200px;
    background-color: #801414;
}

.start-timer:hover {
    border-width: 2px;
    border-style: solid;
    border-color: antiquewhite;
}

#load-container-parent {
    display: flex;
    justify-content: center;
}

.start-timer {
    font-family: 'century gothic';
    font-weight: bold;
}

.quizPopUp {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.0);
    position: absolute;
    top: 0;
    display: none;
    /*controls popup*/
    justify-content: center;
    align-items: center;
}

.quizContent {
    height: 80%;
    width: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizContent * {
    background-color: #fff;
    color: #000;
}

.quizContent div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;       
}


.question-buttons * {
    width: 40%;
    height: 10%;
    margin: 10px;
    border-radius: 50px;
    text-align: center;
    font-family: 'century gothic';
    
}

.question-buttons button:hover {
    border-style: solid;
    color: rgb(53, 2, 2);
    border-width: 2px;
    border-color: #14ffeb;
}

#questions {
    margin-bottom: 75px;
}
/* .question-buttons {
    display: flex;
    flex-direction: column;
    width: 100;
} */