:root {
    --mainColor: #000;
    --fontColor:#fff;
}

* {
    background-color: var(--mainColor);
    color: var(--fontColor);
}

header {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
}

header a:hover {
    color: #14ffeb;
}


.load-container {
    height: 500px;
    width: 60%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

/*This is for the timer button*/
.start-timer {
    height: 50px;
    width: 200px;
    background-color: #801414;
}

.start-timer:hover {
    border-width: 2px;
    border-style: solid;
    border-color: antiquewhite;
}

#load-container-parent {
    display: flex;
    justify-content: center;
}

.start-timer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}